.component-section {
    margin-top: 150px;
    background-color: rgb(245, 245, 245);
    padding: 20px 0;
}

.component-section .inner {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px 0;
}

.component-movie-content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.component-content__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    width: 20%;
    padding: 20px;
    transition: 0.2s;
    background-color: #ffffff;
}

.component-content__box:hover {
    box-shadow: 0 5px 15px 2px rgba(0, 0, 0, 0.2);
    transform: scale(1.06);
}

.component-content__image {
    width: 150px;
    height: 200px;
}

.component-content__image img {
    width: 100%;
    height: 100%;
}

.component-content__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.5rem;
}

.component-content__text span {
    color: rgb(100, 100, 100);
    font-size: 16px;
}

.component-content__text h3 {
    margin: 8px 0;
}